@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);

.taylor{
width: 70%;
}

:root {
font-family: 'Roboto', sans-serif;
--cor-de-fundo: #7a7a7a;
--branco: #FFFFFF;
--roxo: rgb(27, 27, 27);
--fonte_principal: "Roboto"
}

body {
background-color: var(--cor-de-fundo);
font-family: var(--fonte_principal);
font-size: 16px;
font-weight: 400;
}

